<header>
    <h1><%= link_to "Jingl e Store", root_path  %></h1> 
    <nav>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><%= link_to "Home", root_path  %></li>
            <li role="presentation"><%= link_to "About us", about_path %></li>
            <li role="presentation"><%= link_to "Jingles", jingles_path %></li>
            <li role="presentation"><%= link_to "Contact Us", contact_path %></li>
        </ul>
    </nav>
</header>