<div id="content">
            <div id="sliderFrame">
                <div id="slider">
                	<%=image_tag "jingle_home.jpg", :alt => "Jingl e Store" %>
                    <%=image_tag "add.jpg", :alt => "Advertise" %>
                    <%=image_tag "on_air.jpg", :alt => "Go On Air" %>
                    <%=image_tag "sound.jpg", :alt => "We Have the Best Recording Gear" %>
                    <%=image_tag "banner.jpg", :alt => "Making new Ideas" %>
                </div>
            </div>
            <article class="description">
                <p>Jingl e Store offers a variety of transmission-ready radio and television jingles for 	low reasonable prices
				   The radio jingles and drop-ins can be reproduced in part, individually with your radio Slogan / branded. We also offer weekly radio items and a daily news service in mp3!.
                </p>
                 <%= link_to "Check out our Jingles", jingles_path, class: "myButton"%>
                <div class="clear"></div>
            </article>
            <section class="recording">
                <%=image_tag "marketing.jpg", :alt => "" %>
                <p>
                    It is incredibly important to have a professional quality recording of your jingle before you try to shop around. Even if a music supervisor loves your jingle, he would not pick it if it's not recorded in broadcast quality. Here at Jingl e Store we make sure that is taken care of.
                </p>
            </section>
            <section class="mixing">
                <%=image_tag "jin.gif", :alt => "" %>
                <p>
                    The combination of our award-winning engineers, Jingl e Store brings acoustics and our unrivalled range of traditional and state-of-the-art equipment ensure that we give you the best quality possible.
                </p>
            </section>
             <section class="master">
                <%=image_tag "Broadcast.jpg", :alt => "" %>
                <p>
                    Mastering is the final stage in the production process and ensures that the music fits together seamlessly and that it is presented with the best possible sound. It involves editing and compiling the required mixes and tracks in production order, and then producing the final master. 
                </p>
            </section>
            <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
        </div>
        <footer>
            <p class="center" id="copyright">&copy; Jingl e Store 2014</p>
        </footer>
