<%= render @jingles %>
<p>Our Newest Jingles : </p>

<table>
	<th>Name</th>
	<th>Price</th>

<% @newestJingles.each do |newest| %>
	<tr>
		<td><%=newest.name%></td>
		<td><%=newest.price%></td>
	</tr>
<%end%>

</table>

<p>Jingles On Sales : </p>

<table>
	<th>Name</th>
	<th>Price</th>

<% @onsaleJingles.each do |sale| %>
	<tr>
		<td><%=sale.name%></td>
		<td><%=sale.price%></td>
	</tr>
<%end%>

</table>

<p>Categories : </p>

<table>
	<th>Genre</th>
	<th>Name</th>
	<th>Description</th>
	<th> <th>

<% @allJingles.each do |jin| %>
	<tr>
		<td><%=jin.genre.name%></td>
		<td><%=jin.name%></td>
		<td><%=jin.description%></td>
		<td><%=image_tag jin.image%></td>
	</tr>
<%end%>

</table>